extends layout
block content

  if (message.length > 0)
    .alert.alert-danger= message

  each item in items
    .panel.panel-default
      .panel-heading 
        a(href="#{item.url}" target="_blank")= item.title
      .panel-body= item.description

