extends layout
block content
  h2 Login 
  form(action="/login" method="post")
    .form-group
      label(for='email') Email address
      input.form-control(name="email" type='email', placeholder='Email')
    .form-group
      label(for='password') Password
      input.form-control(name="password" type='password', placeholder='Password')
    button.btn.btn-primary(type='submit') Submit

  hr 

  p Don't have an account? 
    a(href="/signup") here

