extends layout
block content
  h2 Submit
  form(action="/submit" method="post")
    .form-group
      label(for='title') Enter title 
      input.form-control(name="title" type='text', placeholder='enter title')
    .form-group
      label(for='url') Enter url of resource
      input.form-control(name="url" type='text', placeholder='enter url')
    .form-group        
      textarea.form-control(rows="3", name="description", placeholder="Enter description")
    button.btn.btn-primary(type='submit') Submit